@{
    ViewBag.Title = "Bolsa De Papel Personalizada";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}
<br /><br /><br />
<center>
    <h2>ERROR #101</h2>
    <h3>Para realizar esta tarea, <i><b style="color:mediumvioletred"><a href="/Home/Login">inicie sesión</a></b></i></h3>
</center>