
@{
    ViewBag.Title = "Bolsa De Papel Personalizada";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}
@model IEnumerable<BolsaDePapel.Models.Resim>
@*<div class="container">
        <div class="tesla-carousel" data-tesla-plugin="carousel" data-tesla-container=".tesla-carousel-items" data-tesla-item=">div" data-tesla-autoplay="false" data-tesla-rotate="false">
            <div class="site-title">
                <ul class="wrapper-arrows">
                    <li><i class="icon-517 prev" title="left arrow"></i></li>
                    <li><i class="icon-501 next" title="right arrow"></i></li>
                </ul>
                <div class="site-inside">
                    <span>Productos</span>
                </div>
            </div>
            <div class="row">
                <div class="tesla-carousel-items">
                    @foreach (var item in ViewBag.Urunler)
                    {

                    }
                    <div class="col-md-3 col-xs-6">
                        <div class="product">
                            <div class="product-cover">
                                <div class="product-cover-hover"><span><a href="/Home/Product/3">View</a></span></div>
                                <img style="height:258px;width:258px;" src="~/Content/Resim/sdfsd" alt="Ürün Adı" />
                            </div>
                            <div class="product-details">
                                <h1><a href="/Home/Product/3">dezenf</a></h1>
                                <p>fektan</p>
                                <div class="product-price">
                                    <a href="/Home/Product/3"><i class="icon-257" title="add to cart"></i></a>
                                    10000 €
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>*@



<div class="container">
    <div class="tesla-carousel" data-tesla-plugin="carousel" data-tesla-container=".tesla-carousel-items" data-tesla-item=">div" data-tesla-autoplay="false" data-tesla-rotate="false">
        <div class="site-title">
            <ul class="wrapper-arrows">
                <li><i class="icon-517 prev" title="left arrow"></i></li>
                <li><i class="icon-501 next" title="right arrow"></i></li>
            </ul>
            <div class="site-inside">
                <span>Productos</span>
            </div>
        </div>
        <div class="row">
            <div class="tesla-carousel-items">

                @foreach (var urun in ViewBag.Urunler)
                {
                    <div class="col-md-3 col-xs-6">
                        <div class="product">
                            <div class="product-cover">
                                <div class="product-cover-hover"><span><a href="/Home/Product/@urun.ID">View</a></span></div>
                                <img style="height:258px;width:258px;" src="~/Content/Resim/@Model.Where(x => x.UrunID == urun.ID).FirstOrDefault().OrtaYol" alt="@urun.Adi" />
                            </div>
                            <div class="product-details">
                                <h1><a href="/Home/Product/@urun.ID">@urun.Adi</a></h1>
                                <p>@urun.Aciklama</p>
                                <div class="product-price">
                                    <a href="/Home/Product/@urun.ID"><i class="icon-257" title="add to cart"></i></a>
                                    @urun.SatisFiyat €
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
