
@{
    ViewBag.Title = "Bolsa De Papel Personalizada";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<center><h2>Como Puedo Comprar</h2></center>

<center>
    <ul style="list-style:disc;">
        <li>
            <b>
                <i>
                    En primer lugar, debes ser miembro de nuestra página.
                    Usted debe estar conectado.
            </b></i>
        </li>
        <li><b><i>Cuando ingresas a la página del producto que deseas, puedes descargar tu diseño personalizado desde tu computadora luego de ingresar el número de piezas.</i></b></li>
        <li><b><i>Luego de presionar el botón Checkout</i></b></li>
        <li> <b><i>debes enviar el monto total a nuestra cuenta bancaria.</i></b></li>
        <li><b><i>Para cualquier duda o problema, contáctenos a través de nuestra línea telefónica y línea de whatsapp.</i></b></li>
        <li><b><i>Puede ver la información de nuestra cuenta bancaria en la parte inferior del sitio.</i></b></li>
    </ul>
</center>