
@{
    ViewBag.Title = "Bolsa De Papel Personalizada";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <center>
                <div class="card">
                    <img src="~/Content/Resim/New/1.jpg" class="card-img-top" alt="Bolsa De Papel Personalizada">
                    <div class="card-body">
                        <h5 class="card-title"><center><b>Bolsa De Papel Personalizada</b></center></h5>
                    </div>
                </div>
            </center>
        </div>
        <div class="col-md-6">
            <center>
                <div class="card">
                    <img src="~/Content/Resim/New/2.jpg" class="card-img-top" alt="Bolsa De Papel Personalizada">
                    <div class="card-body">
                        <h5 class="card-title"><center><b>Bolsa De Papel Personalizada</b></center></h5>
                    </div>
                </div>
            </center>
        </div>
        <div class="col-md-6">
            <center>
                <div class="card">
                    <img src="~/Content/Resim/New/3.jpg" class="card-img-top" alt="Bolsa De Papel Personalizada">
                    <div class="card-body">
                        <h5 class="card-title"><center><b>Bolsa De Papel Personalizada</b></center></h5>
                    </div>
                </div>
            </center>
        </div>
        <div class="col-md-6">
            <center>
                <div class="card">
                    <img src="~/Content/Resim/New/4.jpeg" class="card-img-top" alt="Bolsa De Papel Personalizada">
                    <div class="card-body">
                        <h5 class="card-title"><center><b>Bolsa De Papel Personalizada</b></center></h5>
                    </div>
                </div>
            </center>
        </div>
        <div class="col-md-6">
            <center>
                <div class="card">
                    <img src="~/Content/Resim/New/5.jpg" class="card-img-top" alt="Bolsa De Papel Personalizada">
                    <div class="card-body">
                        <h5 class="card-title"><center><b>Bolsa De Papel Personalizada</b></center></h5>
                    </div>
                </div>
            </center>
        </div>
        <div class="col-md-6">
            <center>
                <div class="card">
                    <img src="~/Content/Resim/New/6.jpg" class="card-img-top" alt="Bolsa De Papel Personalizada">
                    <div class="card-body">
                        <h5 class="card-title"><center><b>Bolsa De Papel Personalizada</b></center></h5>
                    </div>
                </div>
            </center>
        </div>
    </div>
</div>

        @*<div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <img src="~/Content/Resim/SizdenGelenler/2li.png" class="card-img-top" alt="Bolsa De Papel Personalizada">
                            <div class="card-body">
                                <h5 class="card-title"><center><b>Bolsa De Papel Personalizada Binario</b></center></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="~/Content/Resim/SizdenGelenler/3lü.png" class="card-img-top" alt="Bolsa De Papel Personalizada">
                            <div class="card-body">
                                <h5 class="card-title"><center><b>Bolsa De Papel Personalizada Triple</b></center></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="~/Content/Resim/SizdenGelenler/4lü.png" class="card-img-top" alt="Bolsa De Papel Personalizada">
                            <div class="card-body">
                                <h5 class="card-title"><center><b>Bolsa De Papel Personalizada Cuaternario</b></center></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <center><img src="~/Content/Resim/SizdenGelenler/toplu 1.png" style="height:178px;" class="card-img-top" alt="Bolsa De Papel Personalizada"></center>
                            <div class="card-body">
                                <h5 class="card-title"><center><b>Bolsa De Papel Personalizada Colectivo</b></center></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="~/Content/Resim/SizdenGelenler/alconte.png" class="card-img-top" alt="Bolsa De Papel Personalizada">
                            <div class="card-body">
                                <h5 class="card-title"><center><b>Bolsa De Papel Personalizada Alconte</b></center></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="~/Content/Resim/SizdenGelenler/Asman.png" class="card-img-top" alt="Bolsa De Papel Personalizada">
                            <div class="card-body">
                                <h5 class="card-title"><center><b>Bolsa De Papel Personalizada Asman</b></center></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="~/Content/Resim/SizdenGelenler/Avenue.png" class="card-img-top" alt="Bolsa De Papel Personalizada">
                            <div class="card-body">
                                <h5 class="card-title"><center><b>Bolsa De Papel Personalizada Avenue</b></center></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <center><img src="~/Content/Resim/SizdenGelenler/avenue yan.png" style="height:178px;" class="card-img-top" alt="Bolsa De Papel Personalizada"></center>
                            <div class="card-body">
                                <h5 class="card-title"><center><b>Bolsa De Papel Personalizada Avenue</b></center></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="~/Content/Resim/SizdenGelenler/Beyoğlu.png" class="card-img-top" alt="Bolsa De Papel Personalizada">
                            <div class="card-body">
                                <h5 class="card-title"><center><b>Bolsa De Papel Personalizada Beyoğlu</b></center></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <center><img src="~/Content/Resim/SizdenGelenler/Che.png" style="height:178px;" class="card-img-top" alt="Bolsa De Papel Personalizada"></center>
                            <div class="card-body">
                                <h5 class="card-title"><center><b>Bolsa De Papel Personalizada Che</b></center></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <center><img src="~/Content/Resim/SizdenGelenler/yan che kopya.png" style="height:178px;" class="card-img-top" alt="Bolsa De Papel Personalizada"></center>
                            <div class="card-body">
                                <h5 class="card-title"><center><b>Bolsa De Papel Personalizada Che</b></center></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <center><img src="~/Content/Resim/SizdenGelenler/concept store2.png" style="height:178px;" class="card-img-top" alt="Bolsa De Papel Personalizada"></center>
                            <div class="card-body">
                                <h5 class="card-title"><center><b>Bolsa De Papel Personalizada Concept Store</b></center></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <center><img src="~/Content/Resim/SizdenGelenler/evro.png" style="height:178px;" class="card-img-top" alt="Bolsa De Papel Personalizada"></center>
                            <div class="card-body">
                                <h5 class="card-title"><center><b>Bolsa De Papel Personalizada Evro</b></center></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <center><img src="~/Content/Resim/SizdenGelenler/Osvaldo.png" style="height:178px;" class="card-img-top" alt="Bolsa De Papel Personalizada"></center>
                            <div class="card-body">
                                <h5 class="card-title"><center><b>Bolsa De Papel Personalizada Osvaldo</b></center></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <center><img src="~/Content/Resim/SizdenGelenler/P.Lucci.png" style="height:178px;" class="card-img-top" alt="Bolsa De Papel Personalizada"></center>
                            <div class="card-body">
                                <h5 class="card-title"><center><b>Bolsa De Papel Personalizada Pier Lucci</b></center></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <center><img src="~/Content/Resim/SizdenGelenler/Punto.png" style="height:178px;" class="card-img-top" alt="Bolsa De Papel Personalizada"></center>
                            <div class="card-body">
                                <h5 class="card-title"><center><b>Bolsa De Papel Personalizada Punto</b></center></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <center><img src="~/Content/Resim/SizdenGelenler/shahrazat.png" style="height:178px;" class="card-img-top" alt="Bolsa De Papel Personalizada"></center>
                            <div class="card-body">
                                <h5 class="card-title"><center><b>Bolsa De Papel Personalizada Shahrazad</b></center></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
